/*通用部分*/
*{
	border:0;
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	font-size:14px;
	text-decoration:none;
}
/*body*/
body{
	display:flex;
	justify-content:center;
	background:linear-gradient(90deg,#E8E8E8,#000000);
}
.head{
	font-size:22px;
	font-family:"微软雅黑";
}
#section{
	margin-top:150px;
	width:400px;
	height:400px;
	border-radius:10px;
	padding-left:20px;
	opacity:0.9;
}
#section form{
	width:100%;
	height:340px;
	margin-top:40px;
}
#name,#password{
	margin-top:10px;
	margin-bottom:10px;
	width:270px;
	height:40px;
	border:1px solid black;
}
#name:focus,#password:focus{
	box-shadow:0 0 5px blue;
}
#login{
	margin-top:20px;
	margin-bottom:20px;
	width:272px;
	height:40px;
	background-color:blue;
	font-size:20px;
	color:white;
}
#login:hover{
	box-shadow:0 0 5px blue;
}
#forget{
	letter-spacing:1px;
}
#signup{
	margin-top:5px;
	letter-spacing:1px;
	margin-left:100px;
}

