/*通用部分*/
*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{
	text-decoration:none;
}
/*section-one*/
header{
	height:95px;
	width:100%;
	border-bottom:2px solid black;
}
body{
	background:linear-gradient(90deg,#00FFFF,#000000);
}
h1{
	font-family:"微软雅黑";
	margin-top:35px;
	margin-left:100px;
}
.body_one{
	margin-top:150px;
	width:100%;
}
.body_two{
	float:left;
	width:45%;	
}
#telea{
	border-bottom:1px solid #C0C0C0;
}
.body_three{
	float:left;
	width:55%;
	height:100%;
	border-right:2px solid black;
}
#teleform{
	display:block;
}
#teleform div{
	margin-left:30%;
	border:1px solid #C0C0C0;
	margin-bottom:20px;
	display:block;
	width:45%;
	height:55px;
	background-color:white;
}
#teleform label{
	margin-left:1%;
	width:23%;
	height:50px;
}
#teleform input{
	width:76%;
	height:50px;
	font-size:15px;
}
#teleform button{
	margin-top:10px;
	width:45%;
	height:55px;
	margin-left:30%;
	font-size:18px;
	background-color:#0000FF;
	color:white;
}
#teleform p{
	display:inline;
}