<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/admin.css")}}"/>
	<link rel="shortcut icon" href="#"/>
	<title>后台管理</title>
</head>
<body>
	<header>
		<h1>基于HTML5的医学影像ROI在线标注系统后台管理</h1>
	</header>
	<div class="leftbox">
		<button class="addbutton" id="patientbutton">病人管理</button>
		<button class="addbutton" id="xmlbutton">文档管理</button>
		<button class="addbutton" id="userbutton">用户管理</button>
		<button class="addbutton" id="returnbutton">返回前台</button>
	</div>
	<div class="rightbox" id="rightbox">
		<table class="idtable" id="idtable" border="1">
		</table>
	</div>
	<script src="{{static_url("js/jquery-3.2.1.min.js")}}"></script>
    <script src="{{static_url("js/admin.js")}}"></script>
</body>
</html>