<!DOCTYPE html>
<html>
<head>
    <title>后台登录</title>
	<meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{static_url("css/adminlogin.css")}}"/>
    <link rel="shortcut icon" href="#" />
</head>
<body>
	<div id="section">
        <p class="head">基于HTML5的医学影像ROI在线标注系统后台管理</p>
	    <form  method="post">
	        <div>
                <input type="text" name="name" placeholder="用户名" id="name"></input>
	        </div>
            <div>
                <input type="password" name="password" placeholder="密码" id="password"></input>
            </div>             
            <div>
                <button type="submit" id="login">登录</button>
            </div>
	    </form>
    </div>
    <script src="{{static_url("js/jquery-3.2.1.min.js")}}"></script>
    <script src="{{static_url("js/adminlogin.js")}}"></script>
</body>
</html>