<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/index.css")}}"/>
	<link rel="shortcut icon" href="#"/>
	<title>资料列表</title>
</head>
<body>
	<header>
		<h1>基于HTML5的医学影像ROI在线标注系统</h1>
		<a id="userpage">个人中心</a>
		<a id="exit">退出登录</a>
	</header>
	<div class="leftbox">
		<button class="image" id="image">案例标注</button>
		<button class="history" id="history">历史记录</button>
	</div>
	<div class="rightbox" id="rightbox">
		<table class="idtable" id="idtable" border="1">
		</table>
	</div>
	<script src="{{static_url("js/jquery-3.2.1.min.js")}}"></script>
    <script src="{{static_url("js/index.js")}}"></script>
</body>
</html>