<!DOCTYPE html>
<html>
<head>
    <title>标注系统</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{static_url("css/main.css")}}"/>
</head>
<body>
    <div class="buttonbox">
        <button class="buttonone" id="steptwo">肿瘤类型判断</button>
        <button class="buttonone" id="submission">提交结果</button>
    </div>
    <form id="theform" method="POST" accept-charset="UTF-8" autocomplete="off" novalidate>
        <fieldset>
        <legend>Personal information:</legend>
        </fieldset>
    </form>
    <div id="box">
        <!--<canvas id="myCanvas" class="classCanvas" width="600" height="300">

        </canvas>--><!--canvas需要在标签中指定长宽否则会出现问题-->
    </div>
        <script src="{{static_url("js/jquery-3.2.1.min.js")}}"></script>
        <script src="{{static_url("js/main.js")}}"></script>
        <script src="{{static_url("js/index.js")}}"></script>
</body>
</html>