<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/main.css")}}"/>
	<link rel="shortcut icon" href="#"/>
	<title>标注系统</title>
</head>
<body>
	<header>
		<h1>基于HTML5的ROI图像标注系统</h1>
	</header>
	<div class="leftbox">
		<button class="imagebutton" id="stepone">影像资料</button>
		<button class="xmlbutton" id="steptwo">特征填写</button>
		<button class="endbutton" id="submission">提交结果</button>
	</div>
	<div class="rightbox" id="rightbox">
	</div>
	<script src="{{static_url("js/jquery-3.2.1.min.js")}}"></script>
    <script src="{{static_url("js/main.js")}}"></script>
</body>
</html>