<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
	<meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{static_url("css/signup.css")}}"/>
    <link rel="shortcut icon" href="#"/>
<body>
    <header>
    </header>
    <div class="body_one">
    	<div class="body_three">
    		<form id="teleform">
                <div><label>用户名</label><input type="text" id="zusername" placeholder="请输入用户名" required></input></div>
    			<div><label>设置密码</label><input type="password" id="zpassword" placeholder="建议至少使用两种字符组合" required></input></div>
    			<div><label>确认密码</label><input type="password" id="zpaw" placeholder="请再次输入密码" required></input></div>
    			<button type="submit" id="signup">立即注册</button>
	    	</form>
	    </div>
    </div>
    <script src="{{static_url("js/jquery-3.2.1.min.js")}}"></script>
    <script src="{{static_url("js/signup.js")}}"></script>
</body>
</html>